<div class="number-array">
	{{#each item in arrayElements}}
		<span class="number-item">
			{{ui-number-input 
				value=item.value 
				align=item.align 
				placeholder=item.placeholder 
				size=item.size 
				min=item.min 
				max=item.max 
				correctionRules=correctionRules 
				status=item.status 
				statusVisualize=item.statusVisualize
			}}
		</span>
	{{/each}}
</div>
