<div class="number-array">
	{{#each item in arrayElements}}
		<span class="number-item">
			{{ui-number-input 
				value=item.value 
				align=item.align 
				placeholder=item.placeholder 
				size=item.size 
				min=item.min 
				max=item.max 
				correctionRules=correctionRules 
				status=item.status 
				statusVisualize=item.statusVisualize
			}}
		</span>
	{{/each}}
	{{#if showSum}}
		<span class="number-item">
			{{ui-number-input disabled=true value=sum class="array-summary"  align=arrayElements.0.align size=arrayElements.0.size}}
		</span>
	{{/if}}
	{{#if showMean}}
		<span class="number-item">
			{{ui-number-input disabled=true value=mean class="array-summary"  align=arrayElements.0.align size=arrayElements.0.size}}
		</span>
	{{/if}}
	{{#if showMedian}}
		<span class="number-item">
			{{ui-number-input disabled=true value=median class="array-summary" align=arrayElements.0.align size=arrayElements.0.size}}
		</span>
	{{/if}}
</div>
